extends layout
 
block content
  script(src='/javascripts/index.js')
  p Welcome to #{title}
  form(action='' method='POST')
      label(for='playername') Username:
      br
      input#lname(type='text' name='username' value='RandomAnimal')
      br
      br
      input(type='submit' value='Enter Game Lobby')
  if errors
   ul
    for error in errors
     li!= error.msg