extends layout
 
block content
  p Welcome to #{title}
  form(action='' method='POST')
      label(for='username') Username:
      br
      input#lname(type='text' name='username' value= randomUserName)
      br
      br
      input(type='submit' value='Enter Game Lobby')

  if errors
   ul
    for error in errors
     li!= error.msg