extends layout
 
block content
  #landing_body
    p#welcome_message
      span#welcome_to Welcome To
      br
      span#mpwordle #{title}
    form#landing_form(action='' method='POST')
      label#username_label(for='username') Username
      input#username_input(type='text' name='username' value= randomUserName)
      br
      input#username_submit(type='submit' value='Enter Game Lobby')

    if errors
      ul#errors
        for error in errors
          li!= error.msg