extends layout 

block content  
    .flex-container
        .flex-child.left
            #intro
                #welcome_username
                    | Welcome
                    span#username #{username}
                    | !
                br
                button#ready.ready(type='button') Ready Up
                br
                span#or or
                br          
                a#single_player(href='https://jflaher4.github.io/wordle/') Play the Single Player Version 
                br
            h2 Competitors
            ul#players
        .flex-child.right
            #chat_box
                ul#messages
            form#chat_form(action='')
                input#input(autocomplete='off')
                button#send_chat Send
    script(src='/javascripts/lobby.js')