extends layout 

block content  
    .flex-container
        .flex-child.magenta
            p 
                | Hi 
                span#username #{username}
                button#ready(type='button') Ready
            a(href='https://jflaher4.github.io/wordle/') Play single player version 
            ul#players
        .flex-child.green
            ul#messages
            form#form(action='')
                input#input(autocomplete='off')
                button Send
    script(src='/javascripts/lobby.js')