h1 {
    font-weight: bold;
    font-size: 48px;
    font-family: Arial;
    margin: 10px;
    margin-bottom: 0px;
}

h2 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin: 10px;
    padding: 5px;
    font-weight: lighter;
    font-size: 40px;
    margin-top: 0px;
    border-bottom: black solid 1px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.header {
    color: black;
    margin: auto;
    width: 40%;
    text-align: center;
    
}

#landing_body {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#welcome_message {
    text-align: center;
    font-size: 48px;
}

#welcome_to {
    font-family: Brush Script MT, Brush Script Std, cursive;
}

#mpwordle {
    font-family: Arial;
    font-variant-caps: small-caps;
}

#landing_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username_label {
    font-family: Arial;
    font-variant-caps: small-caps;
    font-size: 32px;
}

#username_input {
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 32px;
    height: 64px;
    width: 320px;
    border-color: black;
    border-radius: 4px;
    border-width: 1px;
}

#username_submit {
    font-family: Arial;
    font-variant-caps: small-caps;
    font-size: 24px;
    height:40px;
    border-color: black;
    background-color: white;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

#username_submit:hover {
    background-color: green;
    color: white;
    border-color: white;
}

#errors {
    color: red;
    padding-left: 0px;
    text-align: center;
    font-family: Arial;
    font-variant-caps: small-caps;
}

.flex-container {
    display: flex;
    margin:auto;
    width: 60%;
    margin-top: 10px;
    height: 500px;
}

.flex-child {
    margin-top: 10px;
    flex: 1;
}

.right {
    border-color: black;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial;
}

#messages {
    margin: 0;
    padding: 10px;
    font-variant-caps: small-caps;
    font-size: 16px;
}

#chat_form {
    border-top: solid 1px black;
    padding: 10px;
}

#send_chat {
    margin-left: 5px;
    font-size: 20px;
    border-color: black;
    background-color: white;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    font-variant-caps: small-caps;
    height: 32px;
}

#send_chat:hover {
    background-color: green;
    color: white;
    border-color: white;
}

#welcome_username {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 32px;
}

#single_player {
    font-variant-caps: small-caps;
    font-family: Arial;
}

#input {
    height: 32px;
    border-color: black;
    background-color: white;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    font-variant-caps: small-caps;
    font-size: 16px;
}

.ready {
    margin-left: 5px;
    font-size: 20px;
    border-color: black;
    background-color: white;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    font-variant-caps: small-caps;
    height: 32px;
    width: 200px;
}

.ready:hover {
    background-color: green;
    color: white;
    border-color: white;
}

#single_player {
    color: black;
    font-size: 18px;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#players {
    font-variant-caps: small-caps;
    font-family: Arial;
    font-size: 20px;
}

#or {
    font-variant-caps: small-caps;
    font-family: Arial;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#chat_box {
    overflow: auto;
}

.left {
    text-align: center;
}

.flex-child:first-child {
    margin-right: 20px;
}

.letterboard {
    font-family: Arial;
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.letter {
    color: white;
    margin: 4px;
    padding: 10px 5px;
    font-size: 32px;
    font-weight: bold;
    min-height: 37px;
    min-width: 42px;
    text-align: center;
    border: 1px solid black;
    cursor: default;
}

.row {
    display: flex;
    min-height: 60px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 475px;
}

.key {
    color: black;
    border: 1px solid black;
    font-size: 24px;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 4px;
    text-align: center;
    min-width: 37px;
    background-color: white;
    cursor: pointer;
}

.key:hover {
    font-weight: bold !important;
    border: 2px solid !important;
}

#game_chat_box {
    overflow: auto;
}

.chat {
    border-color: black;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial;
}

.game-flex-container {
    display: flex;
    margin: auto;
    margin-top: 10px;
    height: 550px;
    flex-direction: row;
    justify-content: center;
}

#game_messages {
    margin: 0;
    padding: 10px;
    font-variant-caps: small-caps;
    font-size: 16px;
    min-width: 350px;
}

.opponent {
    min-width: 475px;
}

#game_chat_form {
    border-top: solid 1px black;
    padding: 10px;
}

#send_game_chat {
    margin-left: 5px;
    font-size: 20px;
    border-color: black;
    background-color: white;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    font-variant-caps: small-caps;
    height: 32px;
}

#send_game_chat:hover {
    background-color: green;
    color: white;
    border-color: white;
}

#game_input {
    height: 32px;
    border-color: black;
    background-color: white;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    font-variant-caps: small-caps;
    font-size: 16px;
}